.cli-window{
    height:100%;
    width:100%;
    overflow:auto;
    padding-bottom: 3rem;
    background-color: rgb(33, 33, 33);
}

div[name = "react-console-emulator"]{
    height:100%;
    width:100%;
    background-color: transparent !important;
}

