.cards{
    overflow:scroll;
    height:100%;
    padding:1rem;

    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
    padding-bottom: 10rem;

    .card{
        max-width:30rem;
        flex-basis: 20rem;
        flex-grow:1;
        padding-inline: 1rem;
        padding-block:1.5rem;
        background-color: #111010;
        border-radius: 0.5rem;
        color:rgb(175, 172, 172);
        display: flex;
        flex-direction: column;
        gap:1rem;

        img{
            width:100%;
            border-radius: 1rem;
        }

        h1{
            font-size: 1.5rem;
            font-weight: 500;
        }

        .description{
            opacity: 0.7;
            word-spacing: 0.4rem;
            line-height: 1.3;
        }

        .tags{

            display: flex;
            flex-wrap: wrap;
            gap: 0.75rem;
            .tag{
                background-color: #2b2d35;
                padding-inline: 1.25rem;
                padding-block: 0.75rem;
                border-radius: 0.75rem;
                white-space: no-wrap;
            }
        }

        .urls{
            margin-top: 0.5rem;
            display: flex;
            gap:1rem;
            a{
                color:white;
                text-decoration: none;
                background-color: rgb(0, 0, 0);
                padding-inline: 1rem;
                padding-block: 0.75rem;
                border-radius: 0.85rem;
                cursor: pointer;
                transition: all 0.2s ease-in;
            }

            a:hover{
                transform: scale(1.1) translateY(-5%);
            }
            a:active{
                scale:0.95;
            }
        }
    }
}

.cards::-webkit-scrollbar{
    display:none;
}

