.window{
    height:700px;
    width:1000px;
    background-color: black;
    border-radius: 0.75rem;
    overflow:hidden;

    height:100%;
    color:rgb(201, 191, 191);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    
}

.no-bar::-webkit-scrollbar {
    width:0;
    display: none;             
  }

.nav{
    padding-inline: 0.75rem; 
    padding-block:0.75rem;

    border-bottom: 1px solid rgba(245, 245, 245, 0.24) ;

    display:flex;
    gap:1.5rem;
    align-items: center;

    .dots{
        display:flex;
        gap:0.5rem;
    }
    .dot{
        height:15px;
        width:15px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
    }

    .red{
        background-color: rgb(190, 36, 36);
    }

    .yellow{
        background-color: rgb(187, 187, 19);
    }

    .green{
        background-color: rgb(26, 170, 26);
    }

}

.main-content{
    height:100%;
}