.dock{
    display:flex;
    position: absolute;
    z-index:1000;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    gap:1rem;
    background-color: rgb(63, 63, 63);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.icon{
    padding: 0.65rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width:3.75rem;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    position:relative;
}

.icon-line {
    position: absolute;
    bottom: -8px;      /* just below icon */
    left: 15%;
    right: 15%;
    height: 3px;
    background-color: #fff; /* or any color */
    border-radius: 999px;
  }
.github, .cli{
    background: linear-gradient(to bottom, rgb(39, 36, 36), rgb(0,0,0));
}

.note{
    background: linear-gradient(to bottom, rgb(255, 159, 42), rgb(99, 60, 12));
    box-shadow: 0 25px 60px -20px rgba(0, 0, 0, 0.5);
}

.pdf{
    background: linear-gradient(to bottom,rgb(255, 45, 56),rgb(87, 10, 15));
}

.calender, .mail{
    background: linear-gradient(to bottom, rgb(70, 57, 255), rgb(16, 11, 85));
}

.spotify{
    background: linear-gradient(to bottom, rgb(94, 255, 19), rgb(30, 77, 9));
}

.link{
    background: linear-gradient(to bottom, rgb(232, 30, 255), rgb(76, 11, 85));
}

.icon:hover{
    transform: scale(1.30) translateY(-20%);
    cursor: pointer;
}

.icon:hover + .icon, .icon:has(+ .icon:hover){
    transform: scale(1.10) translateY(-8%);
}

.icon:hover + .icon + .icon, .icon:has(+ .icon + .icon:hover){
    transform: scale(1.02) translateY(-3%);
}

