*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

body,html, #root{
    height:100%;
    width:100%;
    background-color: black;
}

main{
    height:100%;
    width:100%;
    background-image: url('/background_image/os_bg_3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

*::-webkit-scrollbar {
    width:8px;
    // display: none;             
  }

*::-webkit-scrollbar-thumb{
    background-color: rgb(44, 43, 43);
    border-radius:4px;
}